
.section-1 {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    padding: 8px;
}  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-1 {
    display: flex;
    margin-top: 50px;
    align-items: flex-start;
    flex-direction: column;    
}
img {
    max-width: 150px;   
}    
.container {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    justify-content: space-around;
}   
button {
    background-color: #3882F6;
    flex-shrink: 0;
    color: white;
}    
ul {
    list-style-type: none; 
    text-decoration: none; 
}
a {
    text-decoration: none; 
    color: white;
}
li {
    display: inline;
    padding: 8px;   
}
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.container-2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}  
.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    margin-top: 30px;
    padding: 30px;
}
.quote {
    display: inline;
    font-size: 36px;
    font-style: italic;
} 
.author {
    display: flex;
    align-self: flex-end;  
} 
.button-box {
    display: flex;
    background-color: #3882F6;
    margin: 50px; 
    padding: 20px; 
    color: white;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    }
.section-4 {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 15px;
}   
.container-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}   